{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .descripcion-textarea {
        height: 150px !important;
        resize: none;
    }
    .section-header {
        background: linear-gradient(to right, #ff5733, #ff8c00);
        color: white;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        font-weight: bold;
    }
    .card {
        border: none;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="text-center mt-4">
                    <h1 class="h3 text-gray-900">Registro de Terreno</h1>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ field|title }}: {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="section-header">General</div>
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="id_propietario">Propietario:</label>
                                        <!-- Campo de búsqueda dentro del contenedor del select -->
                                        <div class="select-search-container">
                                        <input type="text" id="propietario_search" class="form-control" placeholder="Buscar propietario...">
                                        </div>
                                        <br>
                                        <div class="d-flex">
                                            <div class="custom-select-container flex-grow-1 mr-2">                                                
                                                <!-- Select original -->
                                                <select name="id_propietario" id="id_propietario" class="custom-select">
                                                    <option value="">-------</option>
                                                    {% for propietario in propietarios %}
                                                        <option value="{{ propietario.id }}" {% if form.instance.id_propietario and form.instance.id_propietario.id == propietario.id %}selected{% endif %}>
                                                            {{ propietario.representante }} - {{ propietario.correo }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <a href="{% url 'propietarios:registrar_propietario' %}" class="btn btn-success align-self-center col-md-3">Crear</a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.numero_rol.id_for_label }}">Número de Rol (SII)*</label>
                                        {{ form.numero_rol|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="{{ form.descripcion.id_for_label }}">Descripción*</label>
                                        {{ form.descripcion|add_class:"form-control descripcion-textarea" }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="{{ form.titulo.id_for_label }}">Título (hasta 100 caracteres)*</label>
                                        {{ form.titulo|add_class:"form-control" }}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_nueva">¿Es una propiedad nueva?</label>
                                        <select name="nueva" id="id_nueva" class="custom-select">
                                            <option value="No">Opciones (Por defecto: "No")</option>
                                            {% for choice in form.nueva.field.choices %}
                                                <option value="{{ choice.0 }}" {% if form.nueva.value == choice.0 %}selected{% endif %}>
                                                    {{ choice.1 }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="{{ form.codigo_propiedad.id_for_label }}">Codigo de propiedad</label>
                                        {{ form.codigo_propiedad|add_class:"form-control" }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary" id="expandButton">Posee casa?</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="section-header">Ubicación</div>
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Región*</label>
                                    <select name="region" id="region" class="custom-select">
                                        <option value="" selected="">---------</option>
                                      
                                        <option value="Metropolitana">Metropolitana</option>
                                      
                                        <option value="Antofagasta">Antofagasta</option>
                                      
                                        <option value="Araucanía">Araucanía</option>
                                      
                                        <option value="Arica y Parinacota">Arica y Parinacota</option>
                                      
                                        <option value="Atacama">Atacama</option>
                                      
                                        <option value="Aysén">Aysén</option>
                                      
                                        <option value="Bernardo Ohiggins">Bernardo Ohiggins</option>
                                      
                                        <option value="Biobío">Biobío</option>
                                      
                                        <option value="Coquimbo">Coquimbo</option>
                                      
                                        <option value="Los Lagos">Los Lagos</option>
                                      
                                        <option value="Los Ríos">Los Ríos</option>
                                      
                                        <option value="Magallanes">Magallanes</option>
                                      
                                        <option value="Maule">Maule</option>
                                      
                                        <option value="Ñuble">Ñuble</option>
                                      
                                        <option value="Tarapacá">Tarapacá</option>
                                      
                                        <option value="Valparaíso">Valparaíso</option>
                                      
                                      </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Comuna*</label>
                                    <select name="comuna" id="comuna" class="custom-select">
                                        <option value="">Seleccione una región primero</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Calle*</label>
                                    {{ form.calle|add_class:"form-control" }}
                                </div>
                                <div class="col-md-4">
                                    <label>Número Calle*</label>
                                    {{ form.numero_calle|add_class:"form-control" }}
                                </div>
                                <div class="col-md-4">
                                    <label>Número De Lote*</label>
                                    {{ form.numero_lote|add_class:"form-control" }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="section-header">Información adicional</div>
                        <div class="card-body p-4">
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label>Superficie terreno (m²)</label>
                                    {{ form.superficie_terreno|add_class:"form-control" }}
                                </div>
                                <div class="col-md-4">
                                    <label>Gastos comunes</label>
                                    {{ form.gastos_comunes|add_class:"form-control" }}
                                </div>
                                <div class="col-md-4">
                                    <label>Bodegas*</label>
                                    <select name="bodegas" id="bodegas" class="custom-select">
                                        <option value="">Seleccione una opción</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-4">
                                    <label>Sector*</label>
                                    {{ form.sector|add_class:"form-control" }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="form-group col-md-3">
                                    <label for="id_factibilidad_agua">Factibilidad Agua*</label>
                                    <select name="factibilidad_agua" id="id_factibilidad_agua" class="custom-select">
                                        <option value="No">Opciones (Por defecto: "No")</option>
                                        {% for choice in form.factibilidad_agua.field.choices %}
                                            <option value="{{ choice.0 }}" {% if form.factibilidad_agua.value == choice.0 %}selected{% endif %}>
                                                {{ choice.1 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div> 
                            
                                <div class="form-group col-md-3">
                                    <label for="id_factibilidad_electricidad">Factibilidad Electricidad*</label>
                                    <select name="factibilidad_electricidad" id="id_factibilidad_electricidad" class="custom-select">
                                        <option value="No">Opciones (Por defecto: "No")</option>
                                        {% for choice in form.factibilidad_electricidad.field.choices %}
                                            <option value="{{ choice.0 }}" {% if form.factibilidad_electricidad.value == choice.0 %}selected{% endif %}>
                                                {{ choice.1 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            
                                <div class="form-group col-md-3">
                                    <label for="id_factibilidad_alcantarillado">Factibilidad Alcantarillado*</label>
                                    <select name="factibilidad_alcantarillado" id="id_factibilidad_alcantarillado" class="custom-select">
                                        <option value="No">Opciones (Por defecto: "No")</option>
                                        {% for choice in form.factibilidad_alcantarillado.field.choices %}
                                            <option value="{{ choice.0 }}" {% if form.factibilidad_alcantarillado.value == choice.0 %}selected{% endif %}>
                                                {{ choice.1 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            
                                <div class="form-group col-md-3">
                                    <label for="id_factibilidad_gas">Factibilidad Gas*</label>
                                    <select name="factibilidad_gas" id="id_factibilidad_gas" class="custom-select">
                                        <option value="No">Opciones (Por defecto: "No")</option>
                                        {% for choice in form.factibilidad_gas.field.choices %}
                                            <option value="{{ choice.0 }}" {% if form.factibilidad_gas.value == choice.0 %}selected{% endif %}>
                                                {{ choice.1 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                
                        </div>
                    </div>
                    <!-- Sección de imágenes y video -->
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="section-header">Imagenes / Video</div>
                                    <div class="col-6">
                                            <div class="form-group">
                                                <label for="{{ form.video.id_for_label }}">Subir video:</label>
                                                <input type="file" class="form-control-file" name="video" id="{{ form.video.id_for_label }}">
                                            </div>
                                            <div class="form-group">
                                                <label for="{{ form.imagenes.id_for_label }}">Subir imágenes:</label>
                                                <input type="file" class="form-control-file" name="imagenes" id="{{ form.imagenes.id_for_label }}" multiple>
                                            </div>
                                        </div>
                                </div>
                                <div class="d-grid gap-2 col-12 mx-auto mt-4">
                                    <button class="btn btn-primary btn-user btn-block" type="submit">Registrar Propiedad</button>
                                </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    document.getElementById('expandButton').addEventListener('click', function() {
        var extraFields = document.getElementById('extraFields');
        
        // Cambiar el estado de visualización (mostrar u ocultar)
        if (extraFields.style.display === 'none') {
            extraFields.style.display = 'block';
            this.innerHTML = 'Ocultar campos en caso de no tener casa';  // Cambiar texto del botón
        } else {
            extraFields.style.display = 'none';
            this.innerHTML = 'Posee Casa?';  // Cambiar texto del botón
        }
    });
    
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const comunasPorRegion = {
                "Metropolitana": ["Santiago", "Cerrillos", "Cerro Navia", "Conchalí", "El Bosque", "Estación Central", "Huechuraba", "Independencia", "La Cisterna", "La Florida", "La Granja", "La Pintana", "La Reina", "Las Condes", "Lo Barnechea", "Lo Espejo", "Lo Prado", "Macul", "Maipú", "Ñuñoa", "Pedro Aguirre Cerda", "Peñalolén", "Providencia", "Pudahuel", "Quilicura", "Quinta Normal", "Recoleta", "Renca", "San Joaquín", "San Miguel", "San Ramón", "Vitacura", "Colina", "Lampa", "Tiltil", "Puente Alto", "Pirque", "San José de Maipo", "San Bernardo", "Buin", "Paine", "Calera de Tango", "Melipilla", "Alhué", "Curacaví", "María Pinto", "San Pedro", "Talagante", "El Monte", "Isla de Maipo", "Padre Hurtado", "Peñaflor"],
                "Antofagasta": ["Antofagasta", "Mejillones", "Sierra Gorda", "Taltal", "Calama", "Ollagüe", "San Pedro de Atacama", "Tocopilla", "María Elena"],
                "Araucanía": ["Temuco", "Carahue", "Cholchol", "Cunco", "Curarrehue", "Freire", "Galvarino", "Gorbea", "Lautaro", "Loncoche", "Melipeuco", "Nueva Imperial", "Padre Las Casas", "Perquenco", "Pitrufquén", "Pucón", "Puerto Saavedra", "Teodoro Schmidt", "Toltén", "Vilcún", "Villarrica", "Angol", "Collipulli", "Curacautín", "Ercilla", "Lonquimay", "Los Sauces", "Lumaco", "Purén", "Renaico", "Traiguén", "Victoria"],
                "Arica y Parinacota": ["Arica", "Camarones", "Putre", "General Lagos"],
                "Atacama": ["Copiapó", "Caldera", "Tierra Amarilla", "Chañaral", "Diego de Almagro", "Vallenar", "Huasco", "Freirina", "Alto del Carmen"],
                "Aysén": ["Coyhaique", "Lago Verde", "Aysén", "Cisnes", "Guaitecas", "Cochrane", "O'Higgins", "Tortel", "Chile Chico", "Río Ibáñez"],
                "Bernardo Ohiggins": ["Rancagua", "Codegua", "Coinco", "Coltauco", "Doñihue", "Graneros", "Las Cabras", "Machalí", "Malloa", "Mostazal", "Olivar", "Peumo", "Pichidegua", "Quinta de Tilcoco", "Rengo", "Requínoa", "San Vicente", "San Fernando", "Chimbarongo", "Lolol", "Nancagua", "Palmilla", "Peralillo", "Placilla", "Pumanque", "Santa Cruz", "Chépica", "Pichilemu", "La Estrella", "Litueche", "Marchigüe", "Navidad", "Paredones"],
                "Biobío": ["Concepción", "Coronel", "Chiguayante", "Florida", "Hualpén", "Hualqui", "Lota", "Penco", "San Pedro de la Paz", "Santa Juana", "Talcahuano", "Tomé", "Lebu", "Arauco", "Cañete", "Contulmo", "Curanilahue", "Los Álamos", "Tirúa", "Los Ángeles", "Antuco", "Cabrero", "Laja", "Mulchén", "Nacimiento", "Negrete", "Quilaco", "Quilleco", "San Rosendo", "Santa Bárbara", "Tucapel", "Yumbel", "Alto Biobío"],
                "Coquimbo": ["La Serena", "Coquimbo", "Andacollo", "La Higuera", "Paihuano", "Vicuña", "Ovalle", "Combarbalá", "Monte Patria", "Punitaqui", "Río Hurtado", "Illapel", "Canela", "Los Vilos", "Salamanca"],
                "Los Lagos": ["Puerto Montt", "Calbuco", "Cochamó", "Fresia", "Frutillar", "Los Muermos", "Llanquihue", "Maullín", "Puerto Varas", "Castro", "Ancud", "Chonchi", "Curaco de Vélez", "Dalcahue", "Puqueldón", "Queilén", "Quellón", "Quemchi", "Quinchao"],
                "Los Ríos": ["Valdivia", "Corral", "Lanco", "Los Lagos", "Máfil", "Mariquina", "Paillaco", "Panguipulli", "La Unión", "Futrono", "Lago Ranco", "Río Bueno"],
                "Magallanes": ["Punta Arenas", "Laguna Blanca", "Río Verde", "San Gregorio", "Cabo de Hornos", "Antártica", "Puerto Natales", "Torres del Paine"],
                "Maule": ["Talca", "Constitución", "Curepto", "Empedrado", "Maule", "Pelarco", "Pencahue", "Río Claro", "San Clemente", "San Rafael", "Curicó", "Hualañé", "Licantén", "Molina", "Rauco", "Romeral", "Sagrada Familia", "Teno", "Vichuquén"],
                "Ñuble": ["Chillán", "Bulnes", "Cobquecura", "Coelemu", "Coihueco", "El Carmen", "Ninhue", "Ñiquén", "Pemuco", "Pinto", "Portezuelo", "Quillón", "Quirihue", "Ránquil", "San Carlos", "San Fabián", "San Ignacio", "San Nicolás", "Treguaco", "Yungay"],
                "Tarapacá": ["Iquique", "Alto Hospicio", "Pozo Almonte", "Camiña", "Colchane", "Huara", "Pica"],
                "Valparaíso": ["Valparaíso", "Viña del Mar", "Concón", "Quintero", "Puchuncaví", "Casablanca", "Juan Fernández", "Quilpué", "Villa Alemana", "Limache", "Olmué", "Quillota", "La Calera", "Hijuelas", "La Cruz", "Nogales", "San Antonio", "Cartagena", "El Quisco", "El Tabo", "Algarrobo", "Santo Domingo", "San Felipe", "Llaillay", "Putaendo", "Santa María", "Catemu", "Panquehue", "Los Andes", "Calle Larga", "Rinconada", "San Esteban", "La Ligua", "Cabildo", "Papudo", "Petorca", "Zapallar"],
                "Arica y Parinacota": ["Arica", "Camarones", "Putre", "General Lagos"],
            };

        document.getElementById("region").addEventListener("change", function () {
            let region = this.value;
            let comunaSelect = document.getElementById("comuna");
            comunaSelect.innerHTML = '<option value="">Seleccione una comuna</option>';
            if (region in comunasPorRegion) {
                comunasPorRegion[region].forEach(comuna => {
                    let option = document.createElement("option");
                    option.value = comuna;
                    option.textContent = comuna;
                    comunaSelect.appendChild(option);
                });
            }
        });
    });
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('propietario_search');
        const selectElement = document.getElementById('id_propietario');
        
        // Función para filtrar las opciones del select
        searchInput.addEventListener('input', function() {
            const searchText = this.value.toLowerCase();
            const options = selectElement.options;
            
            for (let i = 0; i < options.length; i++) {
                const option = options[i];
                const optionText = option.text.toLowerCase();
                
                // Mostrar u ocultar la opción según si coincide con el texto de búsqueda
                if (optionText.includes(searchText) || option.value === '') {
                    option.style.display = '';
                } else {
                    option.style.display = 'none';
                }
            }
        });
        
        // Limpiar el campo de búsqueda cuando cambia el select
        selectElement.addEventListener('change', function() {
            searchInput.value = '';
            // Mostrar todas las opciones nuevamente
            const options = selectElement.options;
            for (let i = 0; i < options.length; i++) {
                options[i].style.display = '';
            }
        });
    });
</script>




{% endblock %}