{% extends "base.html" %}
{% block content %}

<div class="container mt-5 flex-column"> <!-- Asegura que ocupe el 100% de la pantalla -->

    <!-- Detalles de la operación -->
    <div class="card shadow-lg mb-4 flex-grow-1"> <!-- Hace crecer el contenido para empujar el footer -->
        <div class="card-header bg-orange text-white">
            <h5 class="mb-0">Detalles de la Operación</h5>
        </div>
        <div class="card-body">
                <!-- Mensajes de error únicamente -->
                {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "error" %}
                        <div class="alert alert-danger d-flex align-items-center">
                            <span class="me-2">{{ message }}</span>
                            {% if mostrar_boton_documento %}
                                <a href="{% url 'documentos:docu_venta' propiedad.id %}" class="btn btn-danger btn-sm">Registrar Documento</a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %} 
                <!-- Fin de mensajes de error -->
            <!-- 📌 El botón de submit ahora está DENTRO del formulario -->
            <form method="POST">
                {% csrf_token %}
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Descripción:</th>
                            <td>{{ form.descripcion }}</td>
                        </tr>
                        <tr>
                            <th>Valor de la Operación:</th>
                            <td>{{ form.valor_operacion }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="d-grid gap-2 col-12 mx-auto mt-4">
                    <button class="btn btn-primary btn-user btn-block" type="submit">Registrar Operación</button>
                </div>
            </form>
        </div>
    </div>

</div> <!-- Cierre del div container -->

<style>
    .bg-orange {
        background-color: #f26c1a; /* Color naranja similar al de la imagen */
    }
    .text-white {
        color: white;
    }
</style>

{% endblock %}
