{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <div class="card-body text-center">
            <h2 class="text-danger mb-4">¿Estás seguro de que deseas eliminar esta operación?</h2>
            <p><strong>Propiedad:</strong> {{ operacion.id_propiedad.titulo }}</p>
            <p><strong>Valor:</strong> {{ operacion.valor_operacion|floatformat:0 }} CLP</p>
            <p><strong>Comisión:</strong> {{ operacion.comision_operacion|floatformat:0 }} CLP</p>

            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
                <a href="{% url 'operaciones:listado_operaciones' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
