{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <!-- Contactos de Propietarios -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">PROPIETARIOS</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Número de Contacto</th>
                            <th>Fecha</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in contactos_propietarios %}
                        <tr>
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.apellido }}</td>
                            <td>{{ c.correo }}</td>
                            <td>{{ c.numero_contacto }}</td>
                            <td>{{ c.fecha }}</td>
                            <td>
                                <!-- Para contactos de propietarios -->
                                <a href="{% url 'contacto_corredor:detalle_contacto' c.id 'propietario' %}">
                                    <button class="btn btn-primary btn-user btn-block">Ver Detalles</button>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No hay contactos de propietarios registrados.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Contactos de Interesados -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">INTERESADOS EN PROPIEDADES</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Publicación de Interés</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo</th>
                            <th>Número de Contacto</th>
                            <th>Fecha</th>
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in contactos_interesados %}
                        <tr>
                            <td>{{ c.id_publicacion.titulo }}</td>
                            <td>{{ c.nombre }}</td>
                            <td>{{ c.apellido }}</td>
                            <td>{{ c.correo }}</td>
                            <td>{{ c.numero_contacto }}</td>
                            <td>{{ c.fecha }}</td>
                            <td>
                                <!-- Para contactos de interesados -->
                                <a href="{% url 'contacto_corredor:detalle_contacto' c.id 'interesado' %}">
                                    <button class="btn btn-primary btn-user btn-block">Ver Detalles</button>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No hay contactos de interesados registrados.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
