{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <div class="card-body">
            <h2 class="text-primary mb-4">Contacto por Propiedad</h2>

            <div class="alert alert-info">
                <strong>Publicación de interés:</strong> {{ publicacion.titulo }}
            </div>

            <form method="POST">
                {% csrf_token %}
                
                <div class="form-group">
                    <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                    {{ form.nombre|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
                    {{ form.apellido|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label for="{{ form.correo.id_for_label }}">Correo:</label>
                    {{ form.correo|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label for="{{ form.numero_contacto.id_for_label }}">Número de Contacto:</label>
                    {{ form.numero_contacto|add_class:"form-control" }}
                </div>

                <div class="form-group">
                    <label for="{{ form.mensaje.id_for_label }}">Mensaje:</label>
                    {{ form.mensaje|add_class:"form-control" }}
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Enviar Mensaje</button>
            </form>

            <div class="text-center mt-3">
                <a href="{% url 'operaciones:detalle_publicacion' publicacion.id %}" class="btn btn-secondary">Volver a Publicacion</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
