{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow-lg">
        <div class="card-header text-white fw-bold text-center" style="background: linear-gradient(to right, #ff5733, #ff8c00);">
            Cambiar Contraseña
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="{{ form.nueva_contrasenia.id_for_label }}" class="form-label fw-bold">Nueva Contraseña:</label>
                    {{ form.nueva_contrasenia|add_class:"form-control" }}
                </div>
                
                <div class="mb-3">
                    <label for="{{ form.confirmar_contrasenia.id_for_label }}" class="form-label fw-bold">Confirmar Contraseña:</label>
                    {{ form.confirmar_contrasenia|add_class:"form-control" }}
                </div>

                {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p class="mb-0">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="d-grid">
                    <button type="submit" class="btn btn-danger text-white fw-bold">Cambiar Contraseña</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <a href="{% url 'login:login' %}" class="text-decoration-none text-dark fw-bold">Volver al inicio de sesión</a>
        </div>
    </div>
</div>
{% endblock %}
