{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<style>
    .descripcion-textarea {
        height: 150px !important;
        resize: none;
    }
    .section-header {
        background: linear-gradient(to right, #ff5733, #ff8c00);
        color: white;
        padding: 10px;
        border-radius: 5px 5px 0 0;
        font-weight: bold;
    }
    .card {
        border: none;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="text-center mt-4">
                    <h1 class="h3 text-gray-900">Simulador de Crédito Hipotecario</h1>
                    <p><strong>Valor de la UF:</strong> {{ valor_uf }} CLP</p>
                </div>

                <form method="POST">
                    {% csrf_token %}
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="section-header">Datos del Crédito</div>
                        <div class="card-body p-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="unidad_moneda">Unidad de Monto:</label>
                                        <select name="unidad_moneda" id="unidad_moneda" class="custom-select" required>
                                            <option value="clp">CLP</option>
                                            <option value="uf">UF</option>
                                        </select><br><br>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="principal">Monto del préstamo:</label>
                                        <input type="number" name="principal" id="principal" class="form-control" required><br><br>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="plazo_anos">Plazo en años:</label>
                                        <select name="plazo_anos" id="plazo_anos" class="custom-select" required>
                                            <option value="">Seleccione una opción</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Campo para la tasa de interés anual -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="tasa_interes_anual">Tasa de interés(%):</label>
                                        <input type="number" name="tasa_interes_anual" id="tasa_interes_anual" class="form-control" step="any" required><br><br>
                                    </div>
                                </div>
                            </div>
                            <div class="d-grid gap-2 col-12 mx-auto mt-4">
                                <button class="btn btn-primary btn-user btn-block" type="submit">Calcular</button>
                            </div>
                        </div>
                    </div>
                </form>

                {% if cuota_mensual %}
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="section-header">Resultados de la Simulación</div>
        <div class="card-body p-4">
            <h3>Pagos Mensuales</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Mes</th>
                        <th>Pago Total</th>
                        <th>Intereses</th>
                        <th>Pago Principal</th>          
                        <th>Saldo Pendiente</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pago in pagos %}
                    <tr>
                        <td>{{ pago.mes }}</td>
                        <td>{{ pago.pago_principal|add:pago.interes_mes }} CLP</td>
                        <td>{{ pago.interes_mes }} CLP</td>
                        <td>{{ pago.pago_principal }} CLP</td>
                        <td>{{ pago.saldo_pendiente }} CLP</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h3 class="text-center">Resumen Final</h3>
            <p class="text-center"><strong>Total pagado:</strong> {{ total_pagado }} CLP</p>
            <p class="text-center"><strong>Total pagado en intereses:</strong> {{ pago_intereses_total }} CLP</p>
            <p class="text-center"><strong>Total pagado en principal:</strong> {{ pago_principal_total }} CLP</p>
        </div>
    </div>
{% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}

